th, td{
    padding-right: 20px;
}
tr:nth-child(odd){
    background-color: forestgreen;
    color: white;
}
th{
    color: black;
}
tr:nth-child(even){
    background-color: lightgreen;
    color: white;
}
