:root{
    --main-aside-font-color:white;
    --main-font:Roboto;
    --main-page-color:rgb(240, 240, 240);
    --second-page-color:white;
    --aside-background-color:rgba(0, 0, 0, 0.8);
    --aside-icons-color:white;
    --aside-hover-background-color:rgba(210, 203, 203, 0.35);
}
body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 10% 1fr 10%;
    font-family: var(--main-font);
    background-color: var(--main-page-color);
    font-weight: lighter;
    overflow-x: hidden;
}
aside{
    width: 20%;
    grid-column: 1/2;
    grid-row: 1/4;
    background: url(images/images/sidebar-1.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--aside-background-color
    );
    background-blend-mode: darken;  
    color: var(--main-aside-font-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    overflow-y: scroll;
    height: 100vh;
}
.last-option{
    margin-bottom: 50px;
}
.material-icons{
    color: var(--aside-icons-color);
}
.dashboard-aside{
    display: flex;
    align-items: center;
    gap: 13%;
    border: none;
    border-radius: 3px;
    background-color: orangered;
    padding: 5%;
    margin-left: 5%;
    margin: 5%;
    margin-top: 20px;
}
.sidebar-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border: none;
    padding: 5%;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
.sidebar-options:hover{
    background-color: var(--aside-hover-background-color);  
}
.aside-left{
    display: flex;
    align-items: center;
    gap: 30px;
}
.avatar{
    width: 37px;
    height: 37px;
    border-radius: 50%;
}
.cool-page{
    display: flex;
    align-items: center;
    gap: 13%; 
    font-size: larger;
    margin-left: 5%;
    margin-right: 5%;
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13%;
    border: none;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    margin-left: 5%; 
    margin-right: 5%;
    border-bottom: 1px solid darkgrey;
    border-top: 1px solid darkgray;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu{
    display: none;
}
header{
    width: 95%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    grid-row: 1/2;
    grid-column: 2/3;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.round-icons{
    border-radius: 50%;
    background-color: white;
    color: darkgrey;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: -2px 3px 55px -11px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 3px 55px -11px rgba(0,0,0,0.75);
box-shadow: -2px 3px 55px -11px rgba(0,0,0,0.75);

}
.round-icons:hover{
    -webkit-box-shadow: -1px -6px 25px -1px rgba(0,0,0,0.37);
-moz-box-shadow: -1px -6px 25px -1px rgba(0,0,0,0.37);
box-shadow: -1px -6px 25px -1px rgba(0,0,0,0.37);

}
.header-right{
    display: flex;
    align-items: center;
    gap: 21px;
} 
.header-left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.grey-icons{
    color: rgb(108, 108, 108);
}
.search-bar{
    border: none;
    font-family: var(--main-font);
    background-color: var(--main-page-color);
    font-size: 18px;
    border-bottom: 1px solid rgb(200, 197, 197);
}
.search-bar:focus{
    outline: none;
}
.search-bar:focus{
    border-bottom: 2px solid blueviolet;
}
.cursor-change{
cursor: pointer;
}
.notifications-5{
    position: absolute;
    top: 10px;
    right: 3.6vw;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
    border-radius: 100%;
}
.notification{
    position: relative;
    display: inline-block;
    cursor: pointer;

}
.notifications-dropdown{
    display: none;
    position: absolute;
    top: 30px;
    right: 80px;
    background-color: white;
    width: 300px;
    padding-left: 0px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    border-radius: 5px;
    list-style: none;
    z-index: 1;
    transition: transform 0.4s ease;
}
li{
    border-radius: 3px;
    margin: 10px;
    padding: 9px;
}
li:hover{
    background-color: orangered;
}
.notifications:hover .notifications-dropdown{
    display: block;
}
main{
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8%;
    margin-top: 5%;
}
.section-1{
    width: 95%;
    background-color: var(--second-page-color);
    border-radius: 6px;
    height: 60%;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.section-1-title{
    font-size:x-large;
    font-weight: lighter;
    margin-left: 110px;
}
.world{
    color: white;
    background-color: rgb(47, 152, 47);
    padding: 22px;
    position: absolute;
    bottom: 28px;
    left: 20px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}
.tr-left{
    display: flex;
    align-items: center;
    gap: 2px;
}
.tr-right{
    display: flex;
    gap: 20px;
    justify-self: flex-end;
}
.table{
    margin-left: 20px;
    font-size: larger;
    width: 30%;
    font-size: 17px;
}
.tr{
    border-bottom: 1px solid darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
iframe{
    border: none;
    width: 100%;
    height: 250px;
    margin-left: 40px;
}
.section-1-bottom{
    width: 97%;
    display: flex;
    justify-content: space-between;
}
.section-1-top{
    position: relative;
}
.section-2{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    gap: 30px;
}
.section-2-card{
    background-color: var(--second-page-color);
    position: relative;
    width: 48.5%;
    height: 150px;
    border-radius: 8px;
}
.section-2-card-top{
    display: flex;
    justify-content: space-between;
    width: 97%;
    justify-self: center;
    border-bottom: 1px solid darkgray ;
}
.couch{
    color: white;
    background-color: rgb(255, 179, 0);
    padding: 22px;
    position: absolute;
    bottom: 100px;
    left: 20px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}
.section-2-card-top-right{
    margin-right: 20px;
}
.section-2-p{
    opacity: 0.5;
}
.section-2-p2{
    font-size: x-large;
    font-weight: 130px;
    margin-top: 0px;
}
.section-2-card-bottom{
    opacity: 0.5;
    margin-left: 5px;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
}
.chart{
    color: white;
    background-color: rgb(196, 38, 59);
    padding: 22px;
    position: absolute;
    bottom: 100px;
    left: 20px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}
.earth{
    color: white;
    background-color: rgb(38, 157, 196);
    padding: 22px;
    position: absolute;
    bottom: 100px;
    left: 20px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}
.store{
    color: white;
    background-color: rgb(17, 138, 15);
    padding: 22px;
    position: absolute;
    bottom: 100px;
    left: 20px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}
.section-3{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5%;
    width: 95%;
}
.section-3-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
    background-color: var(--second-page-color);
    width: 31.5%;
    height: 500px;
}
.section-3-card-top{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.section-3-card-top-top{
    position: relative;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-3-card-photo{
    position: absolute;
    bottom: -40%;
    width: 90%;
    height: 1000%;
    border-radius: 7px;
    transition: transform 0.6s ease;
}
.ani-card:hover .section-3-card-photo{
    transform: translateY(-30px);
}
.ani-card{
    position: relative;
    display: flex;
    justify-content: center;
    top: 90%;
    width: 500px;
    height: 10%;
}
.animation-card{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 13%;
}
.section-3-card-top-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.edit{
    color: green;
    margin-left: 10px;
}
.close{
    color: red;
    margin-left: 10px;
}
.section-3-card-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 80%;
    border-top: 1px solid lightgrey;
}
.section-3-card-bottom-left, .section-3-card-bottom-right{
    display: flex;
    align-items: center;
}
.section-3-p{
    font-size: larger;
    font-weight: 390;
}
.section-3-p2{
    opacity: 0.7;
}
footer{
    grid-column: 2/3;
    grid-row: 3/4;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 340px;
    justify-self: center;
    height: 100%;
    border-top: 1px solid grey;
    font-size:15px;
}
.footer-left{
    display: flex;
    align-items: center;
    gap: 10%;
    width: 50%;
    font-weight: bolder;
    margin-right: 5px;
    flex-wrap: wrap;
}
.footer-right{
    display: flex;
    align-items: center;
}
.smaller-icons{
    font-size: 18px;
}
.manage-listings{
    font-size: x-large;
    margin-bottom: -30px;
    margin-top: -40px;
    margin-right: 80%;
}
@media (max-width:1350px){
    .notifications-5{
        right: 5.7vw;
    }
    header{
        margin-left: 0;
    }
    aside{
        max-width: 18%;
        font-size: smaller;
    }
    .components{
        gap: 14px;
    }
    .main{
        width: 102%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 2%;
    }
    .section-1{
        width: 97%;
        margin-left: -20px;
    }
    .section-2{
        width: 97%;
        margin-left: -20px;
    }
    .section-2-card{
        width: 48.4%;
    }
    .section-3{
        width: 97%;
        margin-left: -20px;
    }
    .section-3-card-photo{
        bottom: -60%;
    }
    footer{
        width: 100%;
    }
    .footer-left{
        width: 70%;
        font-size: 14px;
    }
}
@media (max-width:1230px){
    .notifications-5{
        right: 5.9vw;
    }
    aside{
        width: 17%;
        font-size: 12px;
    }
    .components{
        gap: 3px;
    }
    .main{
        width: 104%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 1.8%;
    }
    .section-1{
        width: 98%;
        margin-left: -40px;
    }
    .section-2{
        width: 98%;
        margin-left: -40px;
    }
    .section-2-card{
        width: 48.3%;
    }
    .section-3{
        width: 98%;
        margin-left: -40px;
    }
    .section-3-card-photo{
        bottom: -70%;
    }
    footer{
        width: 100%;
    }
    .footer-left{
        width: 70%;
    }
    .manage-listings{
        margin-bottom: 0px;
    }
}
@media (max-width:1150px){
    .notifications-5{
        display: none;
    }
    .header-dashboard{
        font-size: larger;
    }
    .menu{
        display: block;
        color: grey;
        font-size: 40px;
    }
    aside{
        display: none;
    }
    header{
        grid-column: 1/3;
        margin-left: 5%;
        width: 90%;
    }
    main{
        grid-column: 1/3;
        gap: 100px;
    }
    footer{
        grid-column: 1/3;
    }
    .header-icons, .search-bar{
        display: none;
    }
    .section-1{
        width: 90%;
        margin-left: 0;
    }
    .section-1-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 40px;
    }
    .table{
        width: 92%;
        padding-right: 20px;
    }
    iframe{
        height: 500px;
        width: 95%;
        margin-left: 0px;
        border: none;
    }
    .section-2{
        width: 90%;
        gap: 3.5%;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    .section-2-card{
        width: 48%;
        margin-top: 3.5%;
    }
    .section-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 150px;
        margin-left: 0;
    }
    .section-3-card{
        margin-top:10px;
        width: 92%;
        height: 800px;
    }
    .section-3-card-top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90%;
    }
    .ani-card{
        width: 100%;
    }
    .section-3-card-photo{
        height: auto;
        width: 85%;
        bottom: 17%;
    }
    .animation-card{
        bottom: -50%;
        margin-top: 240px;
    }
    .footer-left{
        width: 60%;
    }
    footer{
        font-size: 14px;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 50px;
    }
    .manage-listings{
        margin-right: 70%;
    }
}
@media (max-width:1070px){
    .section-3-card{
        height: 730px;
    }
    .animation-card{
        top: -38%;
    }
    .section-3-card-photo{
        bottom: 10%;
    }
    .manage-listings{
        margin-bottom: 30px;
    }
}
@media (max-width:930px){
    .section-3-card{
        height: 630px;
    }
    .animation-card{
        top: -50%;
    }
    .section-3-card-photo{
        bottom: -5%;
    }
}
@media (max-width:800px){
    .section-3-card{
        height: 590px;
    }
    .animation-card{
        top: -70%;
    }
}
@media (max-width:680px){
    .section-1{
        height: 50%;
    }
    iframe{
        height: 300px;
    }
    .section-2{
        width: 100%;
    }
    .section-2-card{
        width: 90%;
        margin: 20px;
    }
    .section-3{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 2.5%;                          
    }
    .section-3-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 7px;
        background-color: var(--second-page-color);
        width: 90%;
        height: 600px;
        margin-top: 90px;
    }
    .section-3-card-top{
        height: 75%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .section-3-card-top-top{
        position: relative;
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .section-3-card-photo{
        position: absolute;
        bottom: -30%;
        width: 95%;
        height: auto;
        border-radius: 7px;
        transition: transform 0.5s ease;
    }
    .section-3-card-top-top:hover .section-3-card-photo{
        transform: translateY(-30px);
    }
    .ani-card{
        position: relative;
        display: flex;
        justify-content: center;
        top: 120%;
        width: 500px;
    }
    .animation-card{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: -140%;
    }
    .section-3-card-top-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    footer{
        width: 90%;
    }
    .manage-listings{
        margin-right: 60%;
        margin-bottom: -20px;
    }
}